.photoEditorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageInput {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #007bff;
    border-radius: 8px;
    margin-top: 1%;
    width: 100%;
    height: 90vh;
    cursor: pointer;
    font-size: 1.2rem;
    color: #007bff;
    transition: background-color 0.3s ease;
}

.imageInput:hover {
    background-color: rgba(0, 123, 255, 0.1);
}

.imageInput input[type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.photoEditor {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
