.photoEditorContainer {
    display: flex;
}

.imageInput {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #007bff;
    border-radius: 8px;
    width: 500px;
    height: 500px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #007bff;
    transition: background-color 0.3s ease;
}

.imageInput:hover {
    background-color: rgba(0, 123, 255, 0.1);
}

.photoEditor {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(221, 221, 221);
    background: -moz-linear-gradient(
        123deg,
        rgba(221, 221, 221, 1) 0%,
        rgba(235, 235, 235, 1) 100%
    );
    background: -webkit-linear-gradient(
        123deg,
        rgba(221, 221, 221, 1) 0%,
        rgba(235, 235, 235, 1) 100%
    );
    background: linear-gradient(
        123deg,
        rgba(221, 221, 221, 1) 0%,
        rgba(235, 235, 235, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dddddd",endColorstr="#ebebeb",GradientType=1);
}
